<form (submit)="submitForm()">
  <h2 class="text-center mb-3">Crear Cuenta</h2>
  <div class="row mt-2">
    <div class="col">
      <div class="form-floating">
        <input name="name" type="text" class="form-control"
               placeholder="Ingrese su nombre" [(ngModel)]="user.name" required/>
        <label class="form-label">Nombre</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input name="lastName" type="text" class="form-control"
               placeholder="Ingrese su apellido" [(ngModel)]="user.lastName" required/>
        <label class="form-label">Apellido</label>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="form-floating">
        <input name="email" type="email" class="form-control"
               placeholder="Ingrese su correo electrónico" [(ngModel)]="user.email" required/>
        <label class="form-label">Correo electrónico</label>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="form-floating">
        <input name="dni" type="text" class="form-control"
               placeholder="Ingrese su documento de identidad" [(ngModel)]="user.dni" required/>
        <label class="form-label">DNI</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input name="password" type="password" class="form-control" id="password" [(ngModel)]="user.password"
               placeholder="Ingrese su contraseña" required/>
        <label class="form-label">Contraseña</label>
      </div>
    </div>
  </div>
  <div class="mb-2 mt-2 d-flex justify-content-center">
    <button type="submit" class="btn btn-primary col-8">Crear cuenta</button>
  </div>
  <div class="text-center">
    <p>Si ya tienes cuenta <a role="button" class="blue" (click)="changeView()">click aquí</a>
    </p>
  </div>
</form>
