<div class="container">
  <form (submit)="submitForm()">
    <h2 class="text-center mb-3">Transferencia de Saldo</h2>
    <div class="row">
      <div class="col-md">
        <mat-form-field class="w-100">
          <mat-label>Cuenta</mat-label>
          <mat-select [(ngModel)]="transfer.accountCodeFrom" name="accountCodeFrom">
            <mat-option *ngFor="let item of accounts" [value]="item.accountCode">
              {{item.accountCode}} - {{item.accountNumber}} - {{item.accountDefault ? "P" : "S"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Cuenta Destino</mat-label>
          <input matInput [(ngModel)]="transfer.accountCodeTo" name="accountCodeTo">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Monto S/</mat-label>
          <input matInput [(ngModel)]="transfer.amount" name="amount">
        </mat-form-field>
      </div>
      <div class="col-md-10">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Comentario</mat-label>
          <input matInput [(ngModel)]="transfer.comment" name="comment">
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3 mb-3">
      <button type="submit" class="btn btn-primary col-2">Transferir Saldo</button>
    </div>
  </form>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="N">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="accountFrom">
        <th mat-header-cell *matHeaderCellDef> Cuenta Origen</th>
        <td mat-cell *matCellDef="let element"> {{element.accountCodeFrom}} - {{element.accountNumberFrom}} </td>
      </ng-container>

      <ng-container matColumnDef="accountTo">
        <th mat-header-cell *matHeaderCellDef> Cuenta Destino</th>
        <td mat-cell *matCellDef="let element"> {{element.accountCodeTo}} - {{element.accountNumberTo}} </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> Comentario</th>
        <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha</th>
        <td mat-cell *matCellDef="let element"> {{moment(element.createdDate).format('YYYY-MM-DD')}}</td>
      </ng-container>

      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef> Hora</th>
        <td mat-cell *matCellDef="let element"> {{moment(element.createdDate).format('h:mm:ss A')}}</td>
      </ng-container>

      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef> Monto S/</th>
        <td mat-cell *matCellDef="let element" [ngClass]="getClass(element)" class="fw-bold">
          S/ {{element.amount.toFixed(2)}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No existen registros</td>
      </tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                   aria-label="Select page of users"></mat-paginator>
  </div>

</div>
