<div class="container">
  <h2> Mis Cuentas </h2>
  <div class="alert alert-warning mb-0" role="alert" *ngIf="accounts.length === 0"> No hay cuentas disponibles.</div>

  <div class="d-inline-flex" style="width: inherit; overflow-x: scroll" *ngIf="accounts.length !== 0">
    <div class="card me-3" style="min-width: 250px;cursor: pointer" *ngFor="let item of accounts"
         (click)="detailAccount(item.accountCode || '')">
      <div class="card-body">
        <p class="card-text">{{item.accountDefault ? "Tarjeta por Defecto" : "Tarjeta Secundaria"}}
          <b class="text-success"> {{item.accountCode}}</b></p>
        <h4 class="card-title">{{formatCardNumber(item.accountNumber || "")}}</h4>
        <h5 class="card-subtitle mb-2 text-muted">Saldo S/ {{item.balance}}</h5>
      </div>
    </div>
  </div>
  <div class="col-2 align-items-center d-flex text-warning mt-3">
    <button mat-fab color="primary" (click)="addAccount()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div class="container mt-3">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="N">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo</th>
        <td mat-cell *matCellDef="let element"> {{element.typeTransaction}} </td>
      </ng-container>

      <ng-container matColumnDef="numeroFrom">
        <th mat-header-cell *matHeaderCellDef> Numero de Cuenta Origen</th>
        <td mat-cell *matCellDef="let element"> {{element.accountNumberFrom}} </td>
      </ng-container>

      <ng-container matColumnDef="numeroTo">
        <th mat-header-cell *matHeaderCellDef> Numero de Cuenta Destino</th>
        <td mat-cell *matCellDef="let element"> {{element.accountNumberTo}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha</th>
        <td mat-cell *matCellDef="let element"> {{moment(element.createdDate).format('YYYY-MM-DD')}}</td>
      </ng-container>

      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef> Hora</th>
        <td mat-cell *matCellDef="let element"> {{moment(element.createdDate).format('h:mm:ss A')}}</td>
      </ng-container>

      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef> Monto S/</th>
        <td mat-cell *matCellDef="let element" class="fw-bold" [ngClass]="getClass(element)">
          S/ {{element.amount.toFixed(2)}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No existen registros</td>
      </tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                   aria-label="Select page of users"></mat-paginator>
  </div>
</div>
