<form (submit)="submitForm()">
  <img class="mb-4" src="/assets/images/bootstrap-logo.svg" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>
  <div class="row">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>DNI</mat-label>
      <input matInput [(ngModel)]="user.dni" class="example-right-align" name="dni" type="number" required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Contraseña</mat-label>
      <input matInput [(ngModel)]="user.password" type="password" name="password" required>
    </mat-form-field>
  </div>
  <button mat-raised-button class="w-100" color="primary" type="submit">Iniciar Sesion</button>
  <div class="text-center mt-3">
    <a role="button" class="blue" (click)="resetPassword()">¿Olvidaste tu Contraseña?</a>
  </div>
  <div class="text-center mt-3">
    <p>Si no tienes cuenta <a role="button" class="blue" (click)="changeView()">click aquí</a>
    </p>
  </div>
  <p class="mt-5 mb-3 text-body-secondary">&copy; Giancarlo Leandro</p>
</form>
